.imageStyle{
  width: 100%;
}

.goldenCareText{
  color: #0C2D48;
  text-align: center;
}

.subText{
  text-transform: uppercase;
  color: #145DA0;
  text-align: center;
}

.ddSelect{
  display: flex;
  flex-direction: column;
  flex: 0.5;
  margin: 1rem;
}

.ddSelect > select{
  height: 28px;
}


.ddBtn{
  display: flex;
  flex-direction: column;
  flex: 0.1;
  margin: 1rem;
}

.mainMenu{
  display: flex;
  justify-content: space-evenly;
}
